In [1]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)
pd.set_option('display.width', 200)

In [2]:
file_path = "../data/Luxury_Housing_Bangalore.csv"
df = pd.read_csv(file_path)

In [3]:
df.shape

(101000, 18)

In [4]:
df.head

<bound method NDFrame.head of        Property_ID       Micro_Market Project_Name Developer_Name  Unit_Size_Sqft Configuration     Ticket_Price_Cr Transaction_Type       Buyer_Type Purchase_Quarter  Connectivity_Score  \
0       PROP000001      Sarjapur Road    Project_0            RMZ          4025.0          4bhk  12.750846039118798          Primary              NRI       2025-03-31            7.990091
1       PROP000002        Indiranagar    Project_1    Puravankara          5760.0          3Bhk  16.292151871065954          Primary            Other       2024-06-30            4.839024
2       PROP000003  Bannerghatta Road    Project_2   Tata Housing          7707.0          4bhk  10.517724412961911          Primary              HNI       2023-12-31            8.131315
3       PROP000004       bellary road    Project_3        Embassy          6192.0          3BHK   9.396367494232896          Primary              HNI       2024-03-31            7.501657
4       PROP000005        Koramangala    Project_4        SNN Raj          7147.0          4Bhk  15.345392444511946        Secondary              HNI       2024-12-31            4.525216
...            ...                ...          ...            ...             ...           ...                 ...              ...              ...              ...                 ...
100995  PROP004730       BELLARY ROAD  Project_229        Embassy          8546.0         5Bhk+   11.33081004147843        Secondary              CXO       2024-12-31            8.552797
100996  PROP059810       Bellary Road  Project_309        Brigade          3408.0          3bhk  10.829373158307602          Primary              CXO       2024-09-30            6.879269
100997  PROP065099        HENNUR ROAD   Project_98            RMZ          4691.0          4BHK  11.183303152058548          Primary              NRI       2023-12-31            6.753812
100998  PROP093022        rajajinagar   Project_21        Embassy          7435.0          3BHK  10.914156376035923        Secondary            Other       2024-06-30            4.437787
100999  PROP023826         whitefield  Project_325     L&T Realty          3218.0          4bhk           ₹13.27 Cr          Primary  Startup Founder       2023-12-31            7.760416

        Amenity_Score   Possession_Status Sales_Channel NRI_Buyer  Locality_Infra_Score  Avg_Traffic_Time_Min              Buyer_Comments
0            5.462863              Launch        Broker       yes              9.212491                    18        Loved the amenities!
1                 NaN  Under construction      NRI Desk        no              7.723898                   106                         NaN
2            8.669227       Ready to move        Direct       yes              6.985493                   113   Agent was not responsive.
3            5.720246       Ready to move        Online       yes              6.100929                   106         Excellent location!
4            8.609649  Under construction        Broker        no              5.312510                    18     Too far from my office.
...               ...                 ...           ...       ...                   ...                   ...                         ...
100995       6.221131  Under construction      NRI Desk        no              7.511827                    22  Will buy after possession.
100996       9.783611       Ready to move        Direct        no              9.851849                    26   Agent was not responsive.
100997       8.383013  Under construction        Broker        no              9.101604                    44        Loved the amenities!
100998       5.756247  Under construction        Broker       yes              8.588551                    66         Excellent location!
100999       9.989290  Under construction        Direct       yes              9.917647                    58        Loved the amenities!

[101000 rows x 18 columns]>

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101000 entries, 0 to 100999
Data columns (total 18 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Property_ID           101000 non-null  object
 1   Micro_Market          101000 non-null  object
 2   Project_Name          101000 non-null  object
 3   Developer_Name        101000 non-null  object
 4   Unit_Size_Sqft        90954 non-null   float64
 5   Configuration         101000 non-null  object
 6   Ticket_Price_Cr       90981 non-null   object
 7   Transaction_Type      101000 non-null  object
 8   Buyer_Type            101000 non-null  object
 9   Purchase_Quarter      101000 non-null  object
 10  Connectivity_Score    101000 non-null  float64
 11  Amenity_Score         90910 non-null   float64
 12  Possession_Status     101000 non-null  object
 13  Sales_Channel         101000 non-null  object
 14  NRI_Buyer             101000 non-null  object
 15  Locality_Infra_Score  101000 non-null  float64
 16  Avg_Traffic_Time_Min  101000 non-null  int64
 17  Buyer_Comments        82713 non-null   object
dtypes: float64(4), int64(1), object(13)
memory usage: 13.9+ MB

In [6]:
df.columns.tolist()

['Property_ID',
 'Micro_Market',
 'Project_Name',
 'Developer_Name',
 'Unit_Size_Sqft',
 'Configuration',
 'Ticket_Price_Cr',
 'Transaction_Type',
 'Buyer_Type',
 'Purchase_Quarter',
 'Connectivity_Score',
 'Amenity_Score',
 'Possession_Status',
 'Sales_Channel',
 'NRI_Buyer',
 'Locality_Infra_Score',
 'Avg_Traffic_Time_Min',
 'Buyer_Comments']

In [7]:
df.isnull().sum().sort_values(ascending=False)

Buyer_Comments          18287
Amenity_Score           10090
Unit_Size_Sqft          10046
Ticket_Price_Cr         10019
Micro_Market                0
Property_ID                 0
Configuration               0
Transaction_Type            0
Developer_Name              0
Project_Name                0
Purchase_Quarter            0
Buyer_Type                  0
Possession_Status           0
Connectivity_Score          0
Sales_Channel               0
NRI_Buyer                   0
Locality_Infra_Score        0
Avg_Traffic_Time_Min        0
dtype: int64

In [8]:
df.describe(include='all').transpose()

                         count  unique                     top   freq         mean          std       min       25%       50%       75%       max
Property_ID             101000  100000              PROP022002      2          NaN          NaN       NaN       NaN       NaN       NaN       NaN
Micro_Market            101000      48               Jayanagar   2176          NaN          NaN       NaN       NaN       NaN       NaN       NaN
Project_Name            101000     500              Project_27    207          NaN          NaN       NaN       NaN       NaN       NaN       NaN
Developer_Name          101000      11                Prestige   9318          NaN          NaN       NaN       NaN       NaN       NaN       NaN
Unit_Size_Sqft         90954.0     NaN                     NaN    NaN  5972.274765  1783.397836      -1.0   4477.25    5990.0    7497.0    8999.0
Configuration           101000       9                   5Bhk+  11375          NaN          NaN       NaN       NaN       NaN       NaN       NaN
Ticket_Price_Cr          90981   72854                   100.0    278          NaN          NaN       NaN       NaN       NaN       NaN       NaN
Transaction_Type        101000       2               Secondary  50506          NaN          NaN       NaN       NaN       NaN       NaN       NaN
Buyer_Type              101000       5                     CXO  20340          NaN          NaN       NaN       NaN       NaN       NaN       NaN
Purchase_Quarter        101000       8              2024-03-31  12750          NaN          NaN       NaN       NaN       NaN       NaN       NaN
Connectivity_Score    101000.0     NaN                     NaN    NaN     6.992619     1.731757  4.000031  5.494526  6.985805      8.49   9.99997
Amenity_Score          90910.0     NaN                     NaN    NaN     7.503663     1.440758  5.000224  6.260329  7.499123  8.752207  9.999865
Possession_Status       101000       3      Under construction  33769          NaN          NaN       NaN       NaN       NaN       NaN       NaN
Sales_Channel           101000       4                  Online  25411          NaN          NaN       NaN       NaN       NaN       NaN       NaN
NRI_Buyer               101000       2                      no  50516          NaN          NaN       NaN       NaN       NaN       NaN       NaN
Locality_Infra_Score  101000.0     NaN                     NaN    NaN     7.498426     1.443128  5.000013  6.247954  7.495614  8.749824  9.999956
Avg_Traffic_Time_Min  101000.0     NaN                     NaN    NaN    67.182921    30.271611      15.0      41.0      67.0      93.0     119.0
Buyer_Comments           82713       9  Great value for money.   9383          NaN          NaN       NaN       NaN       NaN       NaN       NaN

**Core business columns (must be used):**
Property_ID
Micro_Market
Developer_Name
Ticket_Price_Cr
Configuration
Transaction_Type
Purchase_Quarter
Sales_Channel
Buyer_Type

**Supporting / feature columns:**
Unit_Size_Sqft
Amenity_Score
Connectivity_Score
Locality_Infra_Score
Avg_Traffic_Time_Min
Possession_Status

**Optional / insight columns:**
Buyer_Comments
NRI_Buyer
Project_Name

In [9]:
# Cleaning Ticket_Price_Cr column
df['Ticket_Price_Cr'].head(10)

0    12.750846039118798
1    16.292151871065954
2    10.517724412961911
3     9.396367494232896
4    15.345392444511946
5              ₹9.82 Cr
6    10.896752354445224
7     9.357538943683888
8    12.299449409872416
9     9.193310278863123
Name: Ticket_Price_Cr, dtype: object

In [10]:
# Converting the value to numeric
df['Ticket_Price_Cr'] = (
    df['Ticket_Price_Cr']
    .str.replace(',', '', regex=True)
    .str.strip()
)

df['Ticket_Price_Cr'] = pd.to_numeric(df['Ticket_Price_Cr'], errors='coerce')

In [25]:
# Treat negative ticket prices as invalid
df.loc[df['Ticket_Price_Cr'] <= 0, 'Ticket_Price_Cr'] = np.nan

In [26]:
# Handling missing values
ticket_price_median = df['Ticket_Price_Cr'].median()
df['Ticket_Price_Cr'].fillna(ticket_price_median, inplace=True)

C:\Users\rspmp\AppData\Local\Temp\ipykernel_9608\433370205.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Ticket_Price_Cr'].fillna(ticket_price_median, inplace=True)

In [12]:
# Cleaning Unit_Size_Sqft column
df['Unit_Size_Sqft'].describe()

count    90954.000000
mean      5972.274765
std       1783.397836
min         -1.000000
25%       4477.250000
50%       5990.000000
75%       7497.000000
max       8999.000000
Name: Unit_Size_Sqft, dtype: float64

In [19]:
# Converting the min value '-1' into NA
df['Unit_Size_Sqft'] = df['Unit_Size_Sqft'].replace(-1, np.nan)

In [20]:
df['Unit_Size_Sqft'].isnull().sum()

np.int64(505)

In [21]:
# Handling missing values
unit_size_median = df['Unit_Size_Sqft'].median()
df['Unit_Size_Sqft'].fillna(unit_size_median, inplace=True)

C:\Users\rspmp\AppData\Local\Temp\ipykernel_9608\4120591717.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Unit_Size_Sqft'].fillna(unit_size_median, inplace=True)

In [22]:
df['Unit_Size_Sqft'].describe()

count    101000.000000
mean       6003.992812
std        1638.529630
min        3000.000000
25%        4683.000000
50%        5990.000000
75%        7332.000000
max        8999.000000
Name: Unit_Size_Sqft, dtype: float64

In [14]:
# Cleaning Amenity_score column
df['Amenity_Score'].describe()

count    90910.000000
mean         7.503663
std          1.440758
min          5.000224
25%          6.260329
50%          7.499123
75%          8.752207
max          9.999865
Name: Amenity_Score, dtype: float64

In [15]:
# Handling missing values
amenity_median = df['Amenity_Score'].median()
df['Amenity_Score'].fillna(amenity_median, inplace=True)

C:\Users\rspmp\AppData\Local\Temp\ipykernel_9608\4243357013.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Amenity_Score'].fillna(amenity_median, inplace=True)

In [23]:
df['Amenity_Score'].describe()

count    101000.000000
mean          7.503209
std           1.366898
min           5.000224
25%           6.395110
50%           7.499123
75%           8.616106
max           9.999865
Name: Amenity_Score, dtype: float64

In [16]:
# Standardizing text columns
text_columns = [
    'Micro_Market', 'Developer_Name', 'Project_Name',
    'Configuration', 'Transaction_Type', 'Buyer_Type',
    'Possession_Status', 'Sales_Channel', 'NRI_Buyer'
]

for col in text_columns:
    df[col] = df[col].str.strip().str.title()

In [17]:
df.isnull().sum()

Property_ID                 0
Micro_Market                0
Project_Name                0
Developer_Name              0
Unit_Size_Sqft              0
Configuration               0
Ticket_Price_Cr             0
Transaction_Type            0
Buyer_Type                  0
Purchase_Quarter            0
Connectivity_Score          0
Amenity_Score               0
Possession_Status           0
Sales_Channel               0
NRI_Buyer                   0
Locality_Infra_Score        0
Avg_Traffic_Time_Min        0
Buyer_Comments          18287
dtype: int64

In [18]:
df.dtypes

Property_ID              object
Micro_Market             object
Project_Name             object
Developer_Name           object
Unit_Size_Sqft          float64
Configuration            object
Ticket_Price_Cr         float64
Transaction_Type         object
Buyer_Type               object
Purchase_Quarter         object
Connectivity_Score      float64
Amenity_Score           float64
Possession_Status        object
Sales_Channel            object
NRI_Buyer                object
Locality_Infra_Score    float64
Avg_Traffic_Time_Min      int64
Buyer_Comments           object
dtype: object

In [27]:
df.to_csv("../data/luxury_housing_cleaned.csv", index=False)