In [1]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)
pd.set_option('display.width', 200)

In [2]:
file_path = "../data/luxury_housing_cleaned.csv"
df = pd.read_csv(file_path)

In [3]:
# Calculating the price per sqft
df['Price_per_Sqft'] = df['Ticket_Price_Cr'] * 1e7 / df['Unit_Size_Sqft']

In [4]:
# Extracting Quarter & Year
df['Purchase_Date'] = pd.to_datetime(
    df['Purchase_Quarter'].str.strip(),
    errors='coerce'
)

In [5]:
df['Quarter_Number'] = df['Purchase_Date'].dt.quarter
df['Purchase_Year'] = df['Purchase_Date'].dt.year

In [6]:
df[['Purchase_Quarter', 'Purchase_Date', 'Quarter_Number', 'Purchase_Year']].head()

  Purchase_Quarter Purchase_Date  Quarter_Number  Purchase_Year
0       2025-03-31    2025-03-31               1           2025
1       2024-06-30    2024-06-30               2           2024
2       2023-12-31    2023-12-31               4           2023
3       2024-03-31    2024-03-31               1           2024
4       2024-12-31    2024-12-31               4           2024

In [7]:
df[['Ticket_Price_Cr', 'Unit_Size_Sqft', 'Price_per_Sqft']].describe()

       Ticket_Price_Cr  Unit_Size_Sqft  Price_per_Sqft
count    101000.000000   101000.000000   101000.000000
mean         12.530490     6005.455327    22699.507735
std           6.520851     1638.522735    14183.961231
min           0.776524     3000.000000     1181.384845
25%          10.844681     4683.000000    15800.199851
50%          12.035012     6004.000000    20044.990384
75%          13.233249     7332.000000    26385.147148
max         100.000000     8999.000000   324359.390204

In [8]:
df.to_csv("../data/luxury_housing_features.csv", index=False)