In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
df = pd.read_csv("../data/luxury_housing_features.csv")
df.shape

(101000, 22)

In [3]:
username = "root"
password = "root"
host = "localhost"
port = "3306"
database = "luxury_housing_db"

engine = create_engine(
    f"mysql+pymysql://{username}:{password}@{host}:{port}/{database}"
)

In [5]:
df.to_sql(
    name="luxury_housing_sales",
    con=engine,
    if_exists="append",
    index=False,
    chunksize=1000
)
print("Data load completed successfully")

Data load completed successfully

In [6]:
df.head(5)

,Property_ID,Micro_Market,Project_Name,Developer_Name,Unit_Size_Sqft,Configuration,Ticket_Price_Cr,Transaction_Type,Buyer_Type,Purchase_Quarter,...,Possession_Status,Sales_Channel,NRI_Buyer,Locality_Infra_Score,Avg_Traffic_Time_Min,Buyer_Comments,Price_per_Sqft,Purchase_Date,Quarter_Number,Purchase_Year
0,PROP000001,Sarjapur Road,Project_0,Rmz,4025.0,4Bhk,12.750846,Primary,Nri,2025-03-31,...,Launch,Broker,Yes,9.212491,18,Loved the amenities!,31679.120594,2025-03-31,1,2025
1,PROP000002,Indiranagar,Project_1,Puravankara,5760.0,3Bhk,16.292152,Primary,Other,2024-06-30,...,Under Construction,Nri Desk,No,7.723898,106,No Comments,28284.985887,2024-06-30,2,2024
2,PROP000003,Bannerghatta Road,Project_2,Tata Housing,7707.0,4Bhk,10.517724,Primary,Hni,2023-12-31,...,Ready To Move,Direct,Yes,6.985493,113,Agent was not responsive.,13646.976013,2023-12-31,4,2023
3,PROP000004,Bellary Road,Project_3,Embassy,6192.0,3Bhk,9.396367,Primary,Hni,2024-03-31,...,Ready To Move,Online,Yes,6.100929,106,Excellent location!,15175.012103,2024-03-31,1,2024
4,PROP000005,Koramangala,Project_4,Snn Raj,7147.0,4Bhk,15.345392,Secondary,Hni,2024-12-31,...,Under Construction,Broker,No,5.312510,18,Too far from my office.,21471.096187,2024-12-31,4,2024